.second-class {
    background-color: burlywood;
    color: turquoise;
}
body{
    font-family:sans-serif;
}
.first-class{
    color: gray;
    background-color: turquoise;
}
#id1{
    background-color: lightseagreen;
    color: maroon;
}
.sec{
    background-color: mediumaquamarine;
    margin: 10px;
    border-radius: 30px;
    padding: 15px;
}
.title{
    background-color: cyan;
    color: darkkhaki;
    text-align: center;
    font-size: 50px;
}
.blog{
    text-align: center;
}
.div-style{
    background-color: cornflowerblue;
    border: 30px solid mediumorchid;
    border-radius: 20px;
    margin: 20px;
}
.red{
    color: red;
}
.bold{
    margin-left: 30px;
    font-size: 80px;
   color: deepskyblue;
}
.repo-h2-style{
    color: deepskyblue;
}
.repo-style{
    color: firebrick;
}
.v-width{
    width: 40%;
}
/* form style  */
nav>ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-left: 30px;
    padding: 10px;
}
nav li:hover{
    background-color: firebrick;
    border-radius: 15px;
}
nav li a {
    color:rgb(4, 78, 54) ;
    text-decoration: none;
    font-size: 25px;
}